# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environment
.venv/

# Env files
.env

# Test / cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Database
*.db
*.sqlite3

# OS
.DS_Store
